.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.chart-size {
    width: 50px;
    /*margin-top: 50px;*/
}

.chart-show {
    flex: 1;
    margin-top: 150px;
    margin-left: -200px;
    border: 1px solid red;
}