.layout > div {
    background-color: #FFF;
}

.card-body {
    width: 100%;
    height: 100%;
}

.icon {
    float: left;
    width: 50%;
    height: 100%;
}

.font {
    width: 50%;
    height: 100%;
    float: right;
    line-height: 50%;
}