.nav-top {
    height: 60px;
    background-color: purple;
    overflow: hidden;
}

.nav-top ul {
    list-style: none;
    float: right;
}

.nav-top ul li {
    display: inline-block;
    padding-right: 10px;
}

.nav-top li a {
    text-decoration: none;
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: red;
}