* {
    margin: 0px;
    padding: 0px;
}

#app {
    height: 100%;
}

.wrapper {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper .page-content {
    margin-left: 200px;
    padding: 10px;
}