#app {
    min-height: 100vh;
}

.content {
    min-height: 100vh;
}

.nav-top {
    height: 50px;
    background-color: purple;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

/* 由于sidebar没有高度, 这里设置一下. */
.wrapper .sidebar {
    min-height: 100vh;
}

.wrapper .sidebar > .m {
    position: absolute;
    width: 250px;
    height: 100%;
    min-height: 100vh;
}

.wrapper .page-content {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
}

.footer {
    height: 60px;
    background-color: purple;
}